.gallery{
    display:grid;
    grid-template-columns:110px 1fr;
    gap:25px;
}

.gallery-thumbnails{
    display:flex;
    flex-direction:column;
    gap:18px;
}

.gallery-thumb{
    width:95px;
    height:95px;
    border-radius:18px;
    overflow:hidden;
    cursor:pointer;
    border:2px solid transparent;
    transition:.35s;
    background:#fff;
}

.gallery-thumb img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.gallery-thumb.active{
    border-color:#B08D57;
}

.gallery-thumb:hover{
    border-color:#B08D57;
}

.gallery-main{

    width:100%;

    height:700px;

    background:white;

    border-radius:28px;

    overflow:hidden;

    display:flex;

    justify-content:center;

    align-items:center;

    box-shadow:0 10px 40px rgba(0,0,0,.06);

}

.gallery-main img{
    width:100%;
    height:100%;
    object-fit:cover;
    transition:transform .15s ease;
    cursor:zoom-in;
}
