.quantity-selector{

    display:flex;

    align-items:center;

    gap:18px;

    margin:30px 0;

}

.quantity-selector button{

    width:48px;

    height:48px;

    border:1px solid #D8CFC2;

    border-radius:10px;

    background:#fff;

    color:#222;

    cursor:pointer;

    display:flex;

    align-items:center;

    justify-content:center;

    font-size:18px;

    transition:.35s ease;

}

.quantity-selector button:hover{

    background:#B08D57;

    border-color:#B08D57;

    color:#fff;

}

.quantity-selector span{

    width:55px;

    height:48px;

    display:flex;

    align-items:center;

    justify-content:center;

    border:1px solid #D8CFC2;

    border-radius:10px;

    background:#FAF7F2;

    font-size:18px;

    font-weight:600;

    color:#222;

    font-family:"Cormorant Garamond", serif;

}