.admin-dashboard{

min-height:80vh;

padding:50px;

background:#fffafc;

}



.admin-dashboard h1{

text-align:center;

color:#d63384;

margin-bottom:40px;

}



.admin-cards{

display:flex;

justify-content:center;

gap:25px;

flex-wrap:wrap;

}



.admin-cards a{

width:220px;

padding:40px 20px;

background:white;

border-radius:15px;

text-align:center;

text-decoration:none;

color:#d63384;

font-size:20px;

font-weight:600;

box-shadow:
0 5px 20px rgba(0,0,0,.1);

}