.admin-sidebar{
    width:270px;
    background:#111827;
    color:#fff;
    display:flex;
    flex-direction:column;
    height:100vh;
    padding:30px 22px;
    position:fixed;
    top:0;
    left:0;
    overflow-y:auto;
    z-index:100;
}

.admin-nav{
    display:flex;
    flex-direction:column;
    gap:10px;
    margin-top:10px;
}

.admin-logo{
    text-align:center;
    margin-bottom:45px;
}

.admin-logo h2{
    font-size:30px;
    font-weight:800;
    color:#fff;
    margin-bottom:8px;
}

.admin-logo span{
    color:#D4AF37;
}

.admin-logo p{
    color:#9ca3af;
    font-size:13px;
    letter-spacing:2px;
    text-transform:uppercase;
}



.admin-nav a{
    display:flex;
    align-items:center;
    gap:15px;
    text-decoration:none;
    color:#d1d5db;
    padding:15px 18px;
    border-radius:14px;
    font-size:15px;
    font-weight:500;
    transition:.3s;
}

.admin-nav a svg{
    font-size:18px;
}

.admin-nav a:hover{
    background:rgba(212,175,55,.12);
    color:#D4AF37;
    transform:translateX(4px);
}

.admin-nav a.active{
    background:#D4AF37;
    color:#111827;
    font-weight:700;
}

.admin-nav a.active svg{
    color:#111827;
}

.admin-logout-btn{
    margin-top:auto;
    width:100%;
    border:none;
    border-radius:14px;
    padding:16px;
    background:#dc2626;
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    font-size:15px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.admin-logout-btn:hover{
    background:#b91c1c;
    transform:translateY(-2px);
    box-shadow:0 10px 20px rgba(220,38,38,.25);
}

@media(max-width:992px){

.admin-sidebar{
    width:85px;
    padding:25px 10px;
}

.admin-logo h2{
    font-size:18px;
}

.admin-logo p{
    display:none;
}

.admin-nav a{
    justify-content:center;
    padding:16px;
}

.admin-nav a span{
    display:none;
}

.admin-nav a svg{
    font-size:22px;
}

.admin-logout-btn{
    padding:16px;
    font-size:0;
}

.admin-logout-btn svg{
    font-size:20px;
}

}

.admin-view-site {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 14px 18px;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition: 0.3s;
  margin-top: 10px;
}

.admin-view-site:hover {
  background: rgba(255, 255, 255, 0.08);
}