.sk-btn{

    width:100%;

    padding:18px;

    border:none;

    cursor:pointer;

    font-size:15px;

    font-weight:600;

    letter-spacing:2px;

    transition:.35s ease;

}

/* Gold Button */

.primary{

    background:#B08D57;

    color:#fff;

}

.primary:hover{

    background:#222;

}

/* Black Button */

.secondary{

    background:#222;

    color:#fff;

}

.secondary:hover{

    background:#B08D57;

}

.sk-btn:disabled{

    opacity:.5;

    cursor:not-allowed;

}