.payment-btn{

width:100%;

padding:14px;

border:none;

border-radius:30px;

background:#d63384;

color:white;

font-size:16px;

font-weight:600;

cursor:pointer;

}


.payment-btn:hover{

background:#b0256e;

}


.payment-btn:disabled{

opacity:.6;

cursor:not-allowed;

}