/* ==========================================
        DESKTOP TOP UTILITY BAR
========================================== */

.desktop-top-utility-bar{
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    height: 42px;

    background: #000;
    color: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 60px;

    z-index: 999;
    transition: all .35s ease;
}

.desktop-utility-left,
.desktop-utility-right{
    display: flex;
    align-items: center;
    gap: 28px;
}

.desktop-utility-left span{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .3px;
}

.desktop-utility-right a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    transition: color .3s ease;
}

.desktop-utility-right a:hover,
.desktop-utility-left span:hover{
    color: #C8A96A;
}

.desktop-hide-bar{
    transform: translateY(-100%);
    opacity: 0;
}

@media (max-width:992px){

    .desktop-top-utility-bar{
        display:none;
    }

}