/*==========================================
        LARGE LAPTOP
==========================================*/

@media (max-width:1400px){

.desktop-navbar{

    padding:0 40px;

}

.desktop-search{

    width:240px;

}

.desktop-nav-list{

    gap:28px;

}

.desktop-logo-title{

    font-size:40px;

}

}

/*==========================================
        LAPTOP
==========================================*/

@media (max-width:1200px){

.desktop-navbar{

    padding:0 30px;

}

.desktop-logo-title{

    font-size:36px;

}

.desktop-logo-subtitle{

    letter-spacing:6px;

}

.desktop-search{

    width:210px;

}

.desktop-nav-list{

    gap:22px;

}

.desktop-nav-item a,
.desktop-dropdown-btn{

    font-size:13px;

}

.desktop-admin-btn{

    padding:0 14px;

    font-size:12px;

}

}

/*==========================================
        TABLET
==========================================*/

@media (max-width:992px){

.desktop-navbar{

    display:none;

}

}